html,body, form{
    height: 100%;
    margin: 3rem;
    margin-top: 0;
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
}

.form-page{
    height: 100%;
    background-color: #FFFFFF;
}

.progress #nama{
    padding-top: 0;
}

.progress{
    padding-top: 8rem;
}

.progress h3{
    display: inline;
    font-weight: 200;
    font-size: 1.1rem;
    vertical-align: middle;
}

.progress svg {
   stroke: #3B82FF;
   stroke-width: 1;
   display: inline;
   vertical-align: middle;
}

.progress svg:hover {
    stroke-width: 2;
    
}

a{
    text-decoration: none;
}


ul{
    padding-inline-start: 0 !important;
}

.field{
    margin: auto;
}

.text-input{
    border: none; 
    border-bottom: 1px solid black;
    width: 80rem;
    height: 5rem;
    font-size: 3.6rem;
    margin-top: 2rem;
    color: #2C55FF;
}


.text-input:focus{
    outline: none;
    border-color: #2C55FF;
}

::placeholder{
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

li{
    list-style-type: none;
}

.rad-but{
    width: 2.8rem;
    height: 2.8rem;
    display: inline;
    font-size: 1.6rem;
    vertical-align: middle;
}

.rad-but:hover{
    cursor: pointer;
}

.rad-but li{
    padding: 0.4rem;
}

#inl li{
    display: inline;  
}

#inl li label{
    vertical-align: middle;  
    margin: 2rem;
    padding-right: 2rem;
    
    display: inline;
}

p{
    display: inline;
    font-size: 1.6rem;
}

.p-il{
    width: 8rem;
    display: inline-block;
    vertical-align: middle;
}


button {
    background-color: #3B82FF; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 2rem;
  }


button:hover{
    background-color: #2C55FF;
    cursor: pointer;
}
