* {
    font-family: 'Mulish', sans-serif;
    color: #2c55ff;
}

.light {
    font-weight: 300;
}

.semi-bold {
    font-weight: 700 !important;
}

nav * {
    padding-left: 10px !important;
    font-size: 25px !important;
}

.bg-light {
    background-color: white !important;
}

div.inline { float:left; }

.blue2 {
    color: #3b82ff;
}

.content {
    text-align: right;
    padding-right: 60px;
    padding-top: 50px;
}

.title {
    font-size: 80px;
}

.paragraph {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}

input {
    font-size: 20px !important;
}

.black {
    color: black;
}

.btn {
    background-color: #2c55ff !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border-radius: 8px !important;
}

html {
    height: 100%;
}

body {
    background: url('/static/img/CoffeeDoddle.svg');
    background-repeat: no-repeat;
    background-position: bottom 40px left 30px;
    background-size: 40%;
    height: 100%;
}
