* {
    font-family: "Mulish", sans-serif;
}
.page-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-con > * {
    margin-bottom: 50px;;
}

.nav {
    padding-left: 20px;
    max-height: 100px;
    font-size: 36px;
    color: #3B82FF;
}

.nav b {
    color: #2C55FF;
}

.content-con {
    align-self: center;
    min-height: 500px;
    max-width: 1226px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-con {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    border: 1px solid #E0E0E0;
    border-radius: 16px 16px 0px 0px;
}

.desc-con {
    padding: 20px;
    min-height: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    border-radius: 0px 0px 16px 16px;
}

.category {
    margin-top: -20px;
    font-size: 64px;
    color: #2C55FF;
    font-weight: bold;
}

.desc {
    margin: 10px;
    margin-top: -40px;
    font-size: 28px;
    color: #676668;
}

.desc > * {
    margin: 0px;
}

.foot-desc {
    margin-top: 100px;
}

.foot-desc > * {
    margin: 1px;
}

.panascotta{
    font-family: 'Reenie Beanie', cursive;
    font-size: 24px;
    color: #3B82FF;
}