{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Form</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form-style.css' %}">
{% endblock %}

{% block content %}
    <form action="{% url 'main:userForm' %}"  method="POST">
        {% csrf_token %}

        <div class="form-page" id="nama">
            <div class="progress">
                <h3>
                    <strong>1</strong> of 7
                </h3>
                <a href="#umur">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </a>
            </div>
            <div class="question">
                <h2>What is your name?</h2>
                <div class="field">
                    {{ form.nama }}
                </div>
            </div>
        </div>


        <div class="form-page" id="umur">
            <div class="progress">
                <a href="#nama">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
                </a>
                <h3>
                    <strong>2</strong> of 7
                </h3> 
                <a href="#jenis_kelamin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>

                </a>
            </div>
            <div class="question">
                <h2>How old are you?</h2>
                <div class="field">
                    {{ form.umur }}
                </div>
            </div>
        </div>



        <div class="form-page" id="jenis_kelamin">
            <div class="progress">
                <a href="#umur">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
                </a>
                <h3>
                    <strong>3</strong> of 7
                </h3>
                <a href="#sibuk">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>

                </a>
            </div>
            <div class="question">
                <h2>What is your gender?</h2>
                <div class="field">
                    {{ form.jenis_kelamin }}
                </div>
            </div>
        </div>


        <div class="form-page" id="sibuk">
            <div class="progress">
                <a href="#jenis_kelamin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
                </a>
                <h3>
                    <strong>4</strong> of 7
                </h3>
                <a href="#sarapan">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>

                </a>
            </div>
            <div class="question">
                <h2>How important do you think it is to drink water?</h2>
                
                <div class="field">
                    <p>not important</p>
                    {{ form.air_penting }}
                    <p>very important</p>
                </div>
                
            </div>
        </div>



        <div class="form-page" id="sarapan">
            <div class="progress">
                <a href="#sibuk">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
                </a>
                <h3>
                    <strong>5</strong> of 7
                </h3>
                <a href="#jam_tidur">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>

                </a>
            </div>
            <div class="question">
                <h2>
                    Do you always have water near you?
                </h2>
                <div class="field">
                    {{ form.air_dekat }}
                </div>
            </div>
        </div>


        <div class="form-page" id="jam_tidur">
            <div class="progress">
                <a href="#sarapan">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
                </a>
                <h3>
                    <strong>6</strong> of 7
                </h3>
                <a href="#air">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>

                </a>
            </div>
            <div class="question">
                <h2>
                    In a week, how often do you snack?
                </h2>
                <div class="field">
                    {{ form.camilan }}
                </div>
            </div>
        </div>



        <div class="form-page" id="air">
            <div class="progress">
                <a href="#jam_tidur">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
                </a>
                <h3>
                    <strong>7</strong> of 7
                </h3>
            </div>
            <div class="question">
                <h2>
                    How many glass/es of water do you drink in a day?
                </h2>
                <div class="field">
                    {{ form.air }}
                </div>
            </div>
            <a href="{% url 'main:userForm' %}"><button type="submit">Submit</button></a>
        </div>



    </form>
{% endblock %}