<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="/">
        <div class="light blue2 inline">
            umizu
        </div>
        <div class="semi-bold">
            vatten
        </div>
    </a>
</nav>
