{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
{% endblock %}
        
{% block title %}
    <title>Umizu Vatten</title>
{% endblock %}

{% block content %}
    {% include 'header.html' %}
    <div class="content">
        <div class="title semi-bold">
            have you drink?
        </div>
        <div class="paragraph black">
            Drinking enough water consistently is the
            <br>
            beginning of good habits in daily life.
            <br>
            Let's find out how consistently you drink enough
            <br>
            water every day!
        </div>
        <br>
        <form action="{% url 'main:userForm' %}">
            <input class="btn btn-primary semi-bold" type="submit" value="start the test!"/>
        </form>
    </div>
{% endblock %}
