{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title> Result </title>
{% endblock %}

{% block link %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish&display=swap">
    <link rel="stylesheet" href="{% static 'css/result.css' %}">
{% endblock %}

{% block content %}
    <div class="page-con">
        <div class="nav">
            <p> umizu<b>vatten </b> </p>
        </div>
    
        <div class="content-con">
            <div class="title-con">
                <p> Consistency Prediction Result </p>
            </div>
    
            <div class="desc-con">
                
                <div class="category">
                    <p> {% block category %}{% endblock %} </p>
                </div>
    
                <div class="desc">
                    <p>
                        {% block desc %}{% endblock %}
                    </p>
                </div>
                
                <div class="foot-desc">
                    <img src="{% static 'img/motivation.svg' %}" alt="motivation">

                    <p class='panascotta'>
                        panascotta
                    </p>
                </div>
            </div>
            

        </div>
    </div>
{% endblock %}